<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-x-hidden bg-white">

    <%- include('navbar') %>
    <%- include('details/metrics-section.ejs') %>
    <%- include('details/team-section.ejs') %>
    <%- include('details/features-section.ejs') %>
    <%- include('details/careers-section.ejs') %>
    <%- include('details/footer.ejs') %>
    
  </body>
</html>
