<div class="w-screen px-28 space-y-8">
    <div class="flex w-full space-x-8 justify-center">
      <%- include('card') %>
      <%- include('card') %>
      <%- include('card') %>
    </div>
    <div class="flex w-full space-x-8 justify-center">
      <%- include('card') %>
      <%- include('card') %>
      <%- include('card') %>
    </div>
  </div>